.text_screen {
  position: absolute;
  top: 0px;
  /* right: 0px; */
  /* left: 50%; */
  /* width: 100%; */
  padding: 0 0.5em;
  font-size: 3em;
  font-weight: bold;
  text-align: left;
}

.t-green {
  color: #43a047;
}

.t-blue {
  color: #22599c;
}

.t-pink {
  color: #d81456;
}
