.message * {transition: 0.5s;}
.message{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #00000055;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    z-index: 5
}

.message--fadein{ animation: fadein 1s forwards; }
.message--fadeout{ animation: fadeout 1s forwards; }

.message--fadein div{ scale: 1; }
.message--fadeout div{ scale: 0.8 }


@keyframes fadein{
    0%{opacity: 0;}   
    100%{opacity: 1;}
}

@keyframes fadeout{
    0%{opacity: 1;}   
    100%{opacity: 0;}
}